# Ignore Node.js modules
node_modules/
tests/e2e/node_modules/
frontend/node_modules/

# Python ignore
__pycache__/
*.pyc
venv/
.env

# Tests
tests/e2e/cypress/screenshots/
tests/e2e/cypress/videos/
tests/e2e/cypress/downloads/

# Build
frontend/dist/
tests/api/node_modules/
.gitignore
backend/db.sqlite3
frontend_output.log
backend_output.log
backend/.venv/
