# Database Configuration
DATABASE_URL=sqlite:///db.sqlite3

# Security
SECRET_KEY=your-secret-key
DOCUMENT_ENCRYPTION_KEY=your-encryption-key-must-be-32-byte-base64-encoded
DEBUG=True

# S3 Storage Configuration
USE_S3_STORAGE=False
STORAGE_BUCKET_NAME=my-bucket
STORAGE_ACCESS_KEY_ID=my-access-key
STORAGE_SECRET_ACCESS_KEY=my-secret-key
STORAGE_ENDPOINT_URL=https://s3.eu-central-1.amazonaws.com
STORAGE_REGION_NAME=eu-central-1
